<%- include('templates/head'); %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"><%=pageName%></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active"><%=pageName%></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>1000</h3>
                            <p>Total Employee</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-users"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>800</h3>
                            <p>Active Employee</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-users"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>500/60<sup style="font-size: 20px">%</sup></h3>
                            <p>Presence Ratio</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-users"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>300/40<sup style="font-size: 20px">%</sup></h3>
                            <p>Late Ratio</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-users"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
            </div>

            <div class="row">
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Trafik Jumlah User Terdaftar</h3>
                    </div>
                    <div class="card-body">
                      <div class="chart">
                        <canvas id="chart1" style="min-height: 300px; height: 300px; max-height: 300px; max-width: 100%;"></canvas>
                      </div>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
      
                </div>
                <div class="col-md-6">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Trafik Jumlah User Presensi</h3>
                      </div>
                      <div class="card-body">
                        <div class="chart2">
                          <canvas id="chart2" style="min-height: 300px; height: 300px; max-height: 300px; max-width: 100%;"></canvas>
                        </div>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
        
                  </div>
              </div>

            <div class="text-center">
                <h2 class="h2 mb-0 text-white-900 font-weight-bold text-uppercase"><p class="badge bg-primary">DATANG PALING PAGI</p></h2>
            </div>
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="card border-left-secondary shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3 col-6">
                                    <div class="card shadow">
                                        <div class="card-body">
                                            <div class="text-center mb-2">
                                                <img class="img-fluid img-circle"
                                                    src="/assets/vendor/dist/img/user4-128x128.jpg" alt="">
                                            </div>
                                            <h5 class="text-center">Susan</h5>
                                            <p class="text-muted text-center mb-5">PT. ABCDE</p>
                                            <div class="text-center">
                                                <p class="text-muted">15-12-2021</p>
                                                <h5><p class="badge bg-info">05:08:05</p></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <div class="card shadow">
                                        <div class="card-body">
                                            <div class="text-center mb-2">
                                                <img class="img-fluid img-circle"
                                                    src="/assets/vendor/dist/img/user8-128x128.jpg" alt="">
                                            </div>
                                            <h5 class="text-center">Dede</h5>
                                            <p class="text-muted text-center mb-5">PT. ABCDE</p>
                                            <div class="text-center">
                                                <p class="text-muted">15-12-2021</p>
                                                <h5><p class="badge bg-info">05:08:05</p></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <div class="card shadow">
                                        <div class="card-body">
                                            <div class="text-center mb-2">
                                                <img class="img-fluid img-circle"
                                                    src="/assets/vendor/dist/img/user5-128x128.jpg" alt="">
                                            </div>
                                            <h5 class="text-center">Ira</h5>
                                            <p class="text-muted text-center mb-5">PT. ABCDE</p>
                                            <div class="text-center">
                                                <p class="text-muted">15-12-2021</p>
                                                <h5><p class="badge bg-info">06:08:05</p></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <div class="card shadow">
                                        <div class="card-body">
                                            <div class="text-center mb-2">
                                                <img class="img-fluid img-circle"
                                                    src="/assets/vendor/dist/img/user1-128x128.jpg" alt="">
                                            </div>
                                            <h5 class="text-center">Iman</h5>
                                            <p class="text-muted text-center mb-5">PT. ABCDE</p>
                                            <div class="text-center">
                                                <p class="text-muted">15-12-2021</p>
                                                <h5><p class="badge bg-info">05:08:05</p></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- ./col -->
            </div>

            <div class="text-center">
                <h2 class="h2 mb-0 text-white font-weight-bold text-uppercase"><p class="badge bg-maroon">PULANG PALING MALAM</p></h2>
            </div>
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="card border-left-secondary shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3 col-6">
                                    <div class="card shadow">
                                        <div class="card-body">
                                            <div class="text-center mb-2">
                                                <img class="img-fluid img-circle"
                                                    src="/assets/vendor/dist/img/user4-128x128.jpg" alt="">
                                            </div>
                                            <h5 class="text-center">Susan</h5>
                                            <p class="text-muted text-center mb-5">PT. ABCDE</p>
                                            <div class="text-center">
                                                <p class="text-muted">15-12-2021</p>
                                                <h5><p class="badge bg-info">05:08:05</p></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <div class="card shadow">
                                        <div class="card-body">
                                            <div class="text-center mb-2">
                                                <img class="img-fluid img-circle"
                                                    src="/assets/vendor/dist/img/user8-128x128.jpg" alt="">
                                            </div>
                                            <h5 class="text-center">Dede</h5>
                                            <p class="text-muted text-center mb-5">PT. ABCDE</p>
                                            <div class="text-center">
                                                <p class="text-muted">15-12-2021</p>
                                                <h5><p class="badge bg-info">05:08:05</p></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <div class="card shadow">
                                        <div class="card-body">
                                            <div class="text-center mb-2">
                                                <img class="img-fluid img-circle"
                                                    src="/assets/vendor/dist/img/user5-128x128.jpg" alt="">
                                            </div>
                                            <h5 class="text-center">Ira</h5>
                                            <p class="text-muted text-center mb-5">PT. ABCDE</p>
                                            <div class="text-center">
                                                <p class="text-muted">15-12-2021</p>
                                                <h5><p class="badge bg-info">06:08:05</p></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <div class="card shadow">
                                        <div class="card-body">
                                            <div class="text-center mb-2">
                                                <img class="img-fluid img-circle"
                                                    src="/assets/vendor/dist/img/user1-128x128.jpg" alt="">
                                            </div>
                                            <h5 class="text-center">Iman</h5>
                                            <p class="text-muted text-center mb-5">PT. ABCDE</p>
                                            <div class="text-center">
                                                <p class="text-muted">15-12-2021</p>
                                                <h5><p class="badge bg-info">05:08:05</p></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%- include('templates/foot'); %>
<script src="/assets/vendor/plugins/chart.js/Chart.min.js"></script>
<script>

var chart1Canvas = $('#chart1').get(0).getContext('2d')

var chart1Data = {
 labels  : ['Dec 5', 'Dec 6', 'Dec 7', 'Dec 8', 'Dec 9', 'Dec 10', 'Dec 12', 'Dec 13', 'Dec 14'],
  datasets: [
    {
      backgroundColor     : 'rgba(60,141,188,0.9)',
      borderColor         : 'rgba(60,141,188,0.8)',
      pointRadius          : true,
      pointColor          : '#3b8bba',
      pointStrokeColor    : 'rgba(60,141,188,1)',
      pointHighlightFill  : '#fff',
      pointHighlightStroke: 'rgba(60,141,188,1)',
      data                : [28, 48, 40, 19, 86, 27, 90, 100, 200]
    }
  ]
}

var chart1Options = {
  maintainAspectRatio : true,
  responsive : true,
  legend: {
    display: false
  },
  scales: {
    xAxes: [{
      gridLines : {
        display : true,
      }
    }],
    yAxes: [{
      gridLines : {
        display : true,
      }
    }]
  }
}

new Chart(chart1Canvas, {
  type: 'line',
  data: chart1Data,
  options: chart1Options
})


var chart2Canvas = $('#chart2').get(0).getContext('2d')

var chart2Data = {
  labels  : ['Dec 5', 'Dec 6', 'Dec 7', 'Dec 8', 'Dec 9', 'Dec 10', 'Dec 12', 'Dec 13', 'Dec 14'],
  datasets: [
    {
      backgroundColor     : 'rgba(60,141,188,0.9)',
      borderColor         : 'rgba(60,141,188,0.8)',
      pointRadius          : true,
      pointColor          : '#3b8bba',
      pointStrokeColor    : 'rgba(60,141,188,1)',
      pointHighlightFill  : '#fff',
      pointHighlightStroke: 'rgba(60,141,188,1)',
      data                : [10000, 20000, 0, 3000, 5000, 15000, 2000, 25000, 12000]
    }
  ]
}

var chart2Options = {
  maintainAspectRatio : true,
  responsive : true,
  legend: {
    display: false
  },
  scales: {
    xAxes: [{
      gridLines : {
        display : true,
      }
    }],
    yAxes: [{
      gridLines : {
        display : true,
      }
    }]
  }
}

new Chart(chart2Canvas, {
  type: 'line',
  data: chart2Data,
  options: chart2Options
})



</script>